/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-orange: #feb546;
  --color-dark-green: #2c5e40;
  --color-green: #3c9d64;
  --color-light-green: #64bd8a;
  --color-black: #000000;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lora', sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-dark-green);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  text-align: center;
  color: var(--color-white);
  padding: 0;
  background-color: var(--color-black); /*transparent; */
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

/* #navbar.navbar-dark {  
background-color: var(--color-black);
  padding: 8px;
}  */

.navbar__menu {
  text-align: center;
  margin: 0 0 12px 0;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  display: inline-block;
}

.navbar__menu__item.active {
  content: ''; /*밑줄 디자인을 위해 비워둠*/
  /* border-bottom: solid 2px var(--color-white); */
  border-bottom: groove 2px var(--color-white);
  border-bottom: dotted 2px var(--color-white);
  transition: all 250ms ease-in-out;
}

.navbar__menu__item:hover {
  border-bottom: groove 2px var(--color-white);
  border-bottom: dotted 2px var(--color-white);
}

.navbar__toggle-btn {
  position: absolute;
  top: 12px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url('imgs/home_background2.png') center/cover no-repeat;
  padding: 40px;
  text-align: center;
  padding-top: 200px;
}

.home__avatar {
  width: 250px;
  height: 300px;
  border: 4px solid var(--color-dark-grey);
}

.home__title {
  color: var(--color-grey);
}

.home__description {
  color: var(--color-light-grey);
}

.home__contact {
  background-color: var(--color-dark-grey);
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 10px 14px;
  border-radius: 22px;
}

.home__contact:hover {
  background-color: var(--color-light-grey);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

/* Profile */
.profile__img {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 0;
  justify-content: center;
}

.profile__name {
  color: var(--color-green);
  text-align: end;
  padding-bottom: 12px;
}

.profile__majors {
  color: var(--color-light-green);
  text-align: end;
  padding-bottom: 24px;
  line-height: 2em;
}
