/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #eae9e9;
  --color-pink: #fe918d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-orange: #feb546;
  --color-dark-green: #2c5e40;
  --color-medium-green: #56916c;
  --color-green: #3c9d64;
  --color-light-green: #8ee0b2;
  --color-black: #000000;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lora', sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-dark-green);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  text-align: center;
  color: var(--color-white);
  padding: 0;
  background-color: transparent;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-black);
  padding: 4px;
}

.navbar__menu {
  text-align: center;
  margin: 0 0 12px 0;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  display: inline-block;
}

.navbar__menu__item.active {
  content: ''; /*밑줄 디자인을 위해 비워둠*/
  border-bottom: groove 2px var(--color-white);
  border-bottom: dotted 2px var(--color-white);
  transition: all 250ms ease-in-out;
}

.navbar__menu__item:hover {
  border-bottom: groove 2px var(--color-white);
  border-bottom: dotted 2px var(--color-white);
}

.navbar__toggle-btn {
  position: absolute;
  top: 12px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url('imgs/home_background2.png') center/cover no-repeat;
  padding: 40px;
  text-align: center;
  padding-top: 200px;
}

.home__avatar {
  width: 250px;
  height: 300px;
  border: 4px solid var(--color-dark-grey);
}

.home__title {
  color: var(--color-grey);
}

.home__description {
  color: var(--color-light-grey);
}

.home__contact {
  background-color: var(--color-dark-grey);
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 10px 14px;
  border-radius: 22px;
}

.home__contact:hover {
  background-color: var(--color-light-grey);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Profile */
.profile__img {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 0;
  justify-content: center;
}

.profile__name {
  color: var(--color-medium-green);
  text-align: end;
  padding-bottom: 12px;
}

.profile__majors {
  color: var(--color-green);
  text-align: end;
  padding-bottom: 24px;
  line-height: 2em;
}

/* Filmography */
#filmography {
  background-color: var(--color-dark-white);
}

.filmography__content-name {
  color: var(--color-medium-green);
}

.filmography__categories {
  margin: 40px;
}

.category__btn {
  font-size: var(--font-regular);
  padding: 8px 40px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  border-bottom: dotted 2px var(--color-light-grey);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: -8px;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-black);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 12px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.filmography__contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.filmography__contents.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px); /*작아지면서 밑으로 내려가게*/
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  width: 260px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.content.invisible {
  display: none;
}

.contents__img {
  max-width: 100%;
  max-height: 100%;
  width: 260px;
  height: 250px;
}

.contents__description {
  position: absolute;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.content:hover .contents__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.contents__description h3 {
  color: var(--color-orange);
  font-size: var(--font-medium);
  padding-bottom: 8px;
}

.contents__description span {
  font-size: var(--font-regular);
  color: var(--color-white);
}

/* Award */
.award__historys {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.history__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  color: var(--color-light-grey);
  margin: auto;
  border: 4px solid var(--color-light-grey);
  border-radius: 50%;
  margin-bottom: 16px;
}

.history__icon i {
  transition: all var(--animation-duration) ease;
}

.history__icon:hover i {
  color: var(--color-medium-green);
  transform: rotate(30deg) scale(1.2);
}

.history__title {
  color: var(--color-medium-green);
  padding: 16px 0;
}

.history__description {
  text-align: start;
  padding-left: 48px;
  margin: 12px 0;
  line-height: 2em;
  color: var(--color-dark-grey);
}

/* Contact */
#contact {
  background-color: var(--color-black);
  padding: 32px 0;
}

.contact__title,
.contact__email {
  color: var(--color-white);
}

.contact__title {
  margin: 4px 0;
}

.contact__email {
  margin: auto;
  padding-top: 16px;
}

.contact__email:hover {
  transform: scale(1.2);
  color: var(--color-light-grey);
  cursor: pointer;
}

.contact__links {
  font-size: var(--font-medium);
  padding-top: 16px;
}

.contact__links i:hover {
  transform: scale(1.2);
  color: var(--color-light-grey);
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  font-size: 40px;
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font Size */
    --font-large: 30px;
    --font-medium: 20px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__toggle-btn {
    display: block;
    top: 110px;
    right: 16px;
    font-size: var(--font-medium);
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-black);
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .award__historys {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .history {
    margin-bottom: 30px;
  }

  .category__btn {
    margin: 4px;
  }

  .contents__img {
    flex-grow: 1;
  }

  .arrow-up {
    width: 45px;
    height: 45px;
    font-size: 35px;
    line-height: 10px;
    right: 20px;
    bottom: 20px;
  }
}
